<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<body align="center" style="background-color:rgb(25, 28, 31)">

<div align="center">

<h1 style="color:white">Todo added with success ! Id :  <span style="color:rgb(0, 255, 55)">{{{id}}}</span></h1>


<br>

<a href="todos/{{{id}}}"><button class="btn btn-secondary btn-lg active">See todos</button></a>



  <a href="/todos"><button class="btn btn-secondary btn-lg active">Return to the todos manager</button></a>
</div>

<br>
<br>
</body>
</html>
